---
import Library from '@/icons/Library.astro'
import { playlists } from '@/lib/data'
import AsidePlaylists from './AsidePlaylists.astro'
---

<div class='bg-[#121212] px-3 py-2 rounded-lg'>
  <div
    class='p-3 flex items-center gap-5 font-bold cursor-pointer opacity-50 hover:opacity-100'
  >
    <Library />

    <span>Your Library</span>
  </div>

  <div>
    <ul>
      {
        playlists.map(({ id, title, cover, artists }) => {
          return (
            <li class='rounded-md hover:bg-[#1a1a1a]'>
              <AsidePlaylists
                id={id}
                title={title}
                cover={cover}
                artists={artists}
              />
            </li>
          )
        })
      }
    </ul>
  </div>
</div>
