---
import { playlists } from '@/lib/data'
import Back from '@/icons/Back.astro'
import Forward from '@/icons/Forward.astro'
import PlaylistCard from './PlaylistCard.astro'

const greetings = {
  morning: 'Good Morning',
  afternoon: 'Good Afternoon',
  evening: 'Good Evening',
}

// Greetings
const date = new Date()
const hour = date.getHours()
const greetingsMessage =
  hour >= 6 && hour < 12
    ? greetings.morning
    : hour < 18
      ? greetings.afternoon
      : greetings.evening
---

<div>
  <header class='px-5 py-4 flex gap-2'>
    <button
      disabled
      class='w-8 h-8 bg-black/70 rounded-full [&_svg]:mx-auto disabled:opacity-50 disabled:cursor-not-allowed'
    >
      <Back />
    </button>

    <button
      class='w-8 h-8 bg-black/70 rounded-full [&_svg]:mx-auto disabled:opacity-50 disabled:cursor-not-allowed'
    >
      <Forward />
    </button>
  </header>

  <h2 class='px-5 text-2xl font-bold'>{greetingsMessage}</h2>

  <div class='px-5 py-2 flex flex-wrap'>
    {playlists.map((playlist) => <PlaylistCard playlist={playlist} />)}
  </div>
</div>
