---
import { type Playlist } from '@/lib/data'

interface Props {
  playlist: Playlist
}

const { playlist } = Astro.props
const { id, albumId, title, color, cover, artists } = playlist
const artistsName = artists.join(', ')
---

<div class='p-3 rounded-md hover:bg-[#1a1a1a]'>
  <a href='#' class='flex flex-col gap-2'>
    <img src={cover} alt={title} class='w-[10.25rem] h-[10.25rem] rounded-md' />

    <div>
      <h3>{title}</h3>
      <span class='text-sm opacity-50'>{artistsName}</span>
    </div>
  </a>
</div>
