---
import Home from '@/icons/Home.astro'
import Search from '@/icons/Search.astro'
import Library from '@/icons/Library.astro'
---

<div class='h-full grid grid-rows-[auto_1fr] gap-2'>
  <nav class='h-28 bg-[#121212] px-3 py-2 font-bold rounded-lg'>
    <ul class='h-full'>
      <li class='h-1/2 p-3'>
        <a
          href='#'
          class='flex items-center gap-5 opacity-50 hover:opacity-100'
        >
          <Home />
          <span>Home</span>
        </a>
      </li>

      <li class='h-1/2 p-3'>
        <a
          href='#'
          class='flex items-center gap-5 opacity-50 hover:opacity-100'
        >
          <Search />
          <span>Search</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class='h-full bg-[#121212] px-3 py-2 rounded-lg'>
    <a
      href='#'
      class='p-3 flex items-center gap-5 font-bold opacity-50 hover:opacity-100'
    >
      <Library />

      <span>Your Library</span>
    </a>
  </div>
</div>
