---
import CurrentSong from './CurrentSong.astro'
import Player from './Player.tsx'
import Volume from './Volume'
---

<div class='h-full px-2 grid grid-cols-[30%_40%_30%] items-center'>
  <CurrentSong />

  <Player client:load />

  <Volume client:load />
</div>
